:root {
    --max-width: 730px;
    /* Primary colors */
    --Moderateblue: hsl(238, 40%, 52%);
    --SoftRed: hsl(358, 79%, 66%);
    --LightgrayishBlue: hsl(239, 57%, 85%);
    --Palered: hsl(357, 100%, 86%);
    /* Neutral colors */
    --Darkblue: hsl(212, 24%, 26%);
    --GrayishBlue: hsl(211, 10%, 45%);
    --Lightgray: hsl(223, 19%, 93%);
    --VerylightGray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);

    --clr-font-main: var(--GrayishBlue);
    --clr-bg-main: var(--VerylightGray);
    --clr-bg-card: var(--White);

    --clr-card-skeletonR: 255;
    --clr-card-skeletonG: 255;
    --clr-card-skeletonG: 255;
    --card-border-radius-rating: 10px;
    --clr-bg-skeletalLoading: #e2e5e7;

    --clr-bg-ownerIndicator: var(--Moderateblue);
    --clr-font-ownerIndicator: var(--White);
    --clr-font-cardAuthorName: var(--Darkblue);
    --clr-font-cardUsername: var(--Moderateblue);
    --clr-bg-cardRating: var(--VerylightGray);
    --clr-font-cardRating: var(--Moderateblue);
    --clr-filter-cardRating: invert(82%) sepia(16%) saturate(776%)
        hue-rotate(201deg) brightness(97%) contrast(93%);
    --clr-filter-cardRating-hover: invert(35%) sepia(7%) saturate(7483%)
        hue-rotate(206deg) brightness(96%) contrast(85%);
    --clr-filter-cardReplyEdit: invert(35%) sepia(7%) saturate(7483%)
        hue-rotate(206deg) brightness(96%) contrast(85%);
    --clr-filter-cardDelete: invert(73%) sepia(41%) saturate(7326%)
        hue-rotate(319deg) brightness(97%) contrast(91%);
    --clr-font-buttonReply: var(--Moderateblue);
    --clr-font-buttonEdit: var(--Moderateblue);
    --clr-font-buttonDelete: var(--SoftRed);
    --clr-border-reply: var(--Lightgray);
    --clr-border-reply-hover: var(--GrayishBlue);
    --clr-font-reply: var(--Darkblue);
    --clr-bg-replyButton: var(--Moderateblue);
    --clr-font-replyButton: var(--White);

    --clr-bg-unfoldButton: rgb(226, 232, 236);
    --clr-bg-unfoldButton-hover: var(--LightgrayishBlue);
    --clr-font-unfoldButton: var(var(--LightgrayishBlue));

    --clr-bg-deletePopup: #444a;
    --clr-font-deletePopupHeader: var(--Darkblue);
    --clr-font-deletePopupButtons: var(--White);
    --clr-bg-deletePopup-noButton: var(--Darkblue);
    --clr-bg-deletePopup-yesButton: var(--SoftRed);
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-font-main: var(--Lightgray);
        --clr-bg-main: #3b3b3b;
        --clr-bg-card: var(--Darkblue);

        --clr-card-skeletonR: 50;
        --clr-card-skeletonG: 65;
        --clr-card-skeletonB: 82;
        --clr-bg-skeletalLoading: var(--GrayishBlue);

        --clr-font-cardAuthorName: var(--LightgrayishBlue);

        --clr-bg-cardRating: var(--GrayishBlue);
        --clr-font-cardRating: var(--Lightgray);

        --clr-border-reply: var(--GrayishBlue);
        --clr-border-reply-hover: var(--Moderateblue);
        --clr-font-reply: var(--Lightgray);

        --clr-bg-unfoldButton: var(--GrayishBlue);
        --clr-bg-unfoldButton-hover: var(--Moderateblue);

        --clr-font-deletePopupHeader: var(--Moderateblue);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

.disabled {
    opacity: 0.3;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
